.singleProductContainer {
  margin-top: 120px;
}

.singleProductPath {
  display: flex;
  flex-direction: row;
  padding-left: 121px;
}

.spCategoriePath {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #6788ff;
}

.spCategoriePathName {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-left: 16px;
  color: #000000;
}

.spCategoriePathArrow {
  margin-left: 16px;
}

.singleProductPresentation {
  padding-left: 121px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.singleProductName {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.08em;
  font-weight: 600;
  color: #303030;
  text-align: start;
  text-transform: uppercase;
}

.singleProductSubname {
  margin-top: 24px;
  font-size: 52px;
  font-weight: 300;
  line-height: 67px;
  color: #303030;
  text-align: start;
}

.singleProdImage {
  width: 493px;
}

.singleProductInformation {
  background: #6788ff;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  width: 69%;
  margin: 0 auto;
  min-height: 336px;
  padding: 48px 103px;
}

.singleProductInfoTitles {
  display: flex;
  flex-direction: row;
}

.singleProductInfoActive {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  width: 232px;
  border-bottom: 1px solid #ffffff;
  text-align: start;
  padding-bottom: 22px;
  margin-right: 30px;
  cursor: pointer;
}

.singleProductInfoDesactive {
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  cursor: pointer;
  margin-right: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  width: 232px;
  text-align: start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.singleProductInfoData {
  font-size: 16px;
  line-height: 148.5%;
  color: #ffffff;
  width: 689px;
  text-align: start;
  margin-top: 48px;
}

.relatedProductsTitle {
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
  text-align: start;
}

.relatedProducts {
  margin-top: 72px;
  padding-left: 123px;
}
